body {
    margin: 0%;
    padding: 0%;
}

/* Header Geral */
header {
    display: flex;
    padding: 10px 50px;
    font-family: 'Ford', 'Arial', sans-serif;
}

/* Header Geral: Edição do menu de opções gerais na esqueda */
.menu_geral {
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
    gap: 5%;
}

.menu_geral a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

/* Header Geral: Edição da Logo ford centralizada no centro */
.logo_principal_ford {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_principal_ford img {
    height: 40px;
    width: auto;
}

/* Header Geral: Edição do Login na direita */
.login_ford {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login_ford a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

/* Footer Geral */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00095b;
    height: 60px;
    padding: 0 2%;
}

/*Footer Geral: Edição das redes sociais */
.redes_sociais {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    cursor: pointer;
}

.redes_sociais img {
    width: 40px;
    height: auto;
}

/* Footer Geral: Edição do copyright */
.copyright_ford {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.copyright_ford img {
    width: 90px;
    height: auto;
}